<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!-- Header -->
	<head th:replace="fragments/header :: header"></head>
	<body>
		<!-- Navigation Bar -->
		<nav th:replace="fragments/navigation-unsecure :: navigation">
		</nav>
		<!-- Sub Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light sub-nav" th:fragment="sub-nav">
			<div class="collapse navbar-collapse">
				<ul class="nav sub-nav-right-spacing">
					<li class="nav-item">
						<a class="btn btn-info sub-nav-bar-link" th:href="@{/create-task}">Create Task</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<!-- Sub Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light sub-nav" th:fragment="sub-nav-task">
			<div class="collapse navbar-collapse">
				<!--<ul class="nav sub-nav-vertical-line mr-auto">
					<li class="nav-item">
						<a class="nav-link active sub-nav-text-color" th:href="@{/home}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active sub-nav-text-color" th:href="@{/projects}">Projects</a>
					</li>
				</ul>  -->
				<ul class="nav sub-nav-right-spacing">
					<li class="nav-item-sub-item">
						<a class="btn btn-info sub-nav-bar-link" th:href="@{/create-task}">Create Task</a>
					</li>
					<li class="nav-item-sub-item">
						<a class="btn btn-info sub-nav-bar-link" th:href="@{/create-task}">Edit Task</a>
					</li>
				</ul>
			</div>
		</nav>
	</body>
</html>