<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body>
		<!-- Navigation Bar -->
		<nav th:replace="fragments/navigation-unsecure :: navigation">
		</nav>
		
		<!-- Header Information -->
		<!-- TODO: Figure out a way to make this a fragment and adding header to model attribute -->
		<header class="container-fluid">
			<h2 class="carousel-text-align" id="carousel-header-2">Home Page</h2>
			<hr >
		</header>
	    
	    <div class="container">
		  	<h2>User Registration and Login Module using Spring Boot, Spring MVC, Spring Security, JPA/Hibernate and Thymeleaf</h2>
		  	<p>Welcome</p>
		</div>
	</body>
</html>